body{
margin: 0;
font-family: Helvetica;
background-color: black;
font-size: 22px;
opacity: 0.9;
color: seashell;
text-align: center;
}

h2,h4{
margin:0;
padding: 10px;
}

/** Header **/
header{
width: 100%;
height: 69px;
background-color: #000;
border-bottom: 1px solid seashell;
position: fixed;
display: flex;
align-items: center;
}

.logo{
display: flex;
align-items: center;
flex-grow: 1;   
}

.logo img {
height: 50px;
padding-left: 10px;
}

nav span{
display: inline-block;
padding: 20px 10px;
}

nav a{
color: seashell;
}
/** End of Header **/

/** Main Container **/
.container{
width:1200px;
margin: 0 auto;
padding: 69px;
}

/** Mission Section **/
.mission{
display: flex;
align-items: center;
justify-content: center;
padding-top: 3px;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
height: 700px;
    
}
.mission-text{
background-color: #000;
width: 100%;
margin:0 auto;   
}

/** End of Mission Section **/

/** Tea Section **/
.tea{
width: 1000px;
margin:0 auto;
padding: 70px;
}

.tea-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.tea-image img{
width: 300px;
height: 200px;
margin: 15px;
}

.tea-image span{
display: block;
padding: 5px;
font-weight: bold;
}
/** End of Tea Section **/

/** Location Section **/
.location{
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
height: 500px;
padding: 70px;
}

.location-container{
display: flex;
justify-content: space-around;
padding-top: 5px;
width: 1050px;
margin: 0 auto;
}

.location-address{
background-color: #000;
width: 300px;
opacity: 1;
margin: 5px 20px;
display: flex;
flex-direction: column;
justify-content: center;
}
/** End of Location Section **/

/** Contact Section **/
.contact{
background-color: #000;
height: 200px;
margin-top: -70px;
}
/** End of Contact Section **/
